.eNews1{
    background-image: url('../images/edu1.webp');
    width: 90%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 40px auto;
}


.eNews1 img {
    width: 20%;
    height: 250px;
    border-radius: 41px;
    margin-left: 100px;
    margin-top: 75px;
    margin-right: 0px;
    position: absolute;
}

.eNews1 h3 {
    color: white;
    position: absolute;
    margin-top: 100px;
    width: 25%;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
    right: 400px;
    padding-left: 10px;
    border-left: 5px #EE4A9B solid;
}
.eNews1 p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    position: absolute;
    width: 20%;
    right: 475px;
    top: 400px;
}

#selectedMenu {
    color: #EE4A9B;
}

#careerNews1::before {
    background-image: url('../images/ed1.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 340px;
    opacity: 70%;
    content: "";
}

#careerNews1 {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
}

#careerNews2::before {
    background-image: url('../images/ed2.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 340px;
    opacity: 70%;
    content: "";
}

#careerNews2 { 
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
}

#careerNews3::before {
    background-image: url('../images/ed3.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 340px;
    opacity: 70%;
    content: "";
}

#careerNews3 { 
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;

}

#careerNews4::before {
    background-image: url('../images/ed4.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 340px;
    opacity: 70%;
    content: "";
}

#careerNews4 { 
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
}

.career {
    margin-top: 80px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.careerChoice .liner {
    width: 80%;
}

.swiper-wrapper{
    display: flex;
    white-space: space-around;
}

.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF;
    right: 0px;
}

.careerChoice {
    width: 100%;
}