/* Кино урлаг */
#movNews1 {
    background-image: url('../images/movie1.webp');
}

#movNews2 {
    background-image: url('../images/movie2.webp');
}

#movNews3 {
    background-image: url('../images/movie3.webp');
}

#movNews4 {
    background-image: url('../images/movie4.webp');
}

#liner {
    width: 85%;
}

/* Дуу хөгжим */
#musNews1 {
    background-image: url('../images/music1.webp');
}

#musNews2 {
    background-image: url('../images/music2.webp');
}

#musNews3 {
    background-image: url('../images/music3.webp');
}

#musNews4 {
    background-image: url('../images/music4.webp');
}

/* Оддын тухай*/
#starNews1 {
    background-image: url('../images/star1.webp');
}

#starNews2 {
    background-image: url('../images/star2.webp');
}

#starNews3 {
    background-image: url('../images/star3.webp');
}

#starNews4 {
    background-image: url('../images/star4.webp');
}

/* Гол мэдээ */
#entertainNews1 {
    background-image: url('../images/enterBack.webp');
}
#entertainNews2 {
    background-image: url('../images/enterBack.webp');
}

#entertainNews3 {
    background-image: url('../images/enterBack.webp');
}





