.newsContainer{
    margin-top: 5%;
}

.article #liner {
    width: 100% !important;
}

#bigPic {
    width: 70%;
}

.article1 {
    text-align: center;
    margin-top: 5%;
    /* text-justify: ; */
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5vw;
}

p, .writer {
    font-size: 1.2vw;
}

.article1>p {
    text-align: justify;
    width: 80%;
    margin: 5% auto !important;
}

.smallPic>img {
    width: 30%;
    /* padding: 5% 6%; */
}

footer {
    margin-top: 3%;
}

#journalist {
    color: #EE4A9B;
    display: inline;
}
#liner1 {
    width: 100%;
    border-bottom: 2px solid #6FCDDB;
    float: right;
    padding-top: 3%;
}


@media screen and (max-width: 610px) {
    /* h4 {
        font-size: 12px;
        margin-top: 20px;
    }

    .writer {
        font-size: 10px;
    }
    .smallPic>img {
        width: 35%;
        padding: 10px;
    } */

}