/* Зөв дадал */
#habNews1 {
    background-image: url('../images/habit1.webp');
}

#habNews2 {
    background-image: url('../images/habit2.webp');
}

#habNews3 {
    background-image: url('../images/habit3.webp');
}

#habNews4 {
    background-image: url('../images/habit4.webp');

}

.slideNewsContainer {
    margin: auto;
    height: 35%;
}

#book #liner {
    width: 78% !important;
}

#liner {
    width: 87% !important;
}


/* Номтой нөхөрлөе */
#bookNews1 {
    background-image: url('../images/book1.webp');
}

#bookNews2 {
    background-image: url('../images/book2.webp');
}

#bookNews3 {
    background-image: url('../images/book3.webp');
}

#bookNews4 {
    background-image: url('../images/book4.webp');
}



/* Зөвлөгөө */
#adNews1 {
    background-image: url('../images/ad1.webp');
}

#adNews2 {
    background-image: url('../images/ad2.webp');
}

#adNews3 {
    background-image: url('../images/ad3.webp');
}

#adNews4 {
    background-image: url('../images/ad4.webp');
}

/* Гол мэдээ */
#personNews1 {
    background-image: url('../images/perBack.webp');
}

#scholarNews2 {
    background-image: url('../images/ed5.webp');
}

#scholarNews3 {
    background-image: url('../images/ed9.webp');
}





