@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Rubik:wght@400;500&display=swap');

html {
    max-width: 1920px;
    --default-blue: #6FCDDB;
    --default-pink: #EE4A9B;
    --default-yellow: #FBA919;
    --default-gray: #D9D9D9;
    --default-white: #FFFFFF;
}

body {
    background-color: black;
    margin: 30px auto;
    width: 80%;
    height: 2400px;
    color: #F5F5F7;
    display: block;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Header хэсэг */

header {
    width: 100%;
    height: 10%;
}

#yoloLogo {
    width: 10vw;
    height: auto;
}

.nav {
    justify-content: space-between;
    width: 100%;
}

.nav-link {
    color: var(--default-white);
}

.nav-item>a:hover {
    color: var(--default-pink);
}

.header-icons a {
    color: var(--default-blue);
    padding: 1vw;
    text-decoration: none;
    font-size: 1.3vw;
}

.header-icons {
    margin-top: 2%;
}


form {
    margin-top: 2%;
    width: 40%;
    height: 1.5vw;
}

.form-control {
    background-color: var(--default-gray);
    opacity: 35%;
    color: var(--default-white);
}

.menu {
    margin: 1.5vw;
}

#selectedMenu {
    color: var(--default-pink) !important;
}

.menu li {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
}

.menuMobile {
    display: none;
    width: 50%;
    height: 100%
}

.btn {
    font-size: 1.2vw;
    padding-top: 0px;
}


.closeMenu {
    display: none;
}

/* ---------------------------------------------------------------- */

/* Гол мэдээний хэсэг */
.news1 {
    position: relative;
    width: 100%;
    height: 45%;
    animation-name: fade;
    animation-duration: 1.5s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news1 img {
    width: 35%;
    height: 40%;
    border-radius: 41px;
    margin: 5%;
}

.news1 h3 {
    color: var(--default-white);
    position: absolute;
    margin-top: 10%;
    width: 45%;
    font-size: 2.2vw;
    font-weight: 800;
    text-transform: uppercase;
    left: 50%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 5px var(--default-pink) solid;
}

.news1 p {
    font-size: 1.3vw;
    font-weight: 400;
    color: white;
    position: absolute;
    width: 40%;
    left: 50%;
    top: 60%;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

@keyframes fade {
    0% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

#mainNews1 {
    background-image: url('../images/jis1.webp');
}

#mainNews2 {
    background-image: url('../images/medee1.webp');
}

#mainNews3 {
    background-image: url('../images/medee3.webp');
}

.slideNewsContainer {
    margin: auto;
    height: 35%;
}


/* ---------------------------------------------------------------- */
/* Санал болгох мэдээ  */
#suggested {
    height: 50%;
    margin-top: 20px;
}

#liner {
    width: 85%;
    border-bottom: 2px solid var(--default-blue);
    float: right;
    padding-top: 10px;
}

h5 {
    text-transform: uppercase;
    font-size: 1.4vw;
    float: left
}

.swipeNews {
    height: 35%;
    margin-top: 20px;
    padding: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FFFFFF;
    right: 0px;
}

.swiper-slide {
    width: 20%;
    height: 25vw;
    margin: 30px 10px;
    background-size: 100% 100%;
}

#sNews1 {
    background-image: url('../images/snews1.webp');
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide>p {
    background-color: rgba(111, 205, 219, 0.5);
    position: absolute;
    padding: 5% 10%;
    margin: 0px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    text-align: left;
}


#sNews2 {
    background-image: url('../images/snews2.webp');
}


#sNews3 {
    background-image: url('../images/snews3.webp');
}

#sNews4 {
    background-image: url('../images/snews4.webp');
}


#sNews5 {
    background-image: url('../images/snews5.webp');
}

#sNews6 {
    background-image: url('../images/snews6.webp');
}

/* ----------------------------------------------------------------

/* Алдартнууд */

.famNews {
    height: 10%;
}

.fam {
    margin: 20%;
}

.fam>img {
    width: 10vw;
    height: auto;
    margin-left: 10%;
}

.famousPeople {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

#famTxt {
    font-weight: bold;
    font-size: 1.3vw;
    padding-top: 15px;
}

.fam>p {
    font-size: 1vw;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------------- */

/* Сүүлд нэмэгдсэн */
.latestNews {
    height: 20%;
}

.lateNews {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.latestNews>#liner {
    width: 80%;
}

.lNews>img {
    width: 53%;
    height: auto;
    float: left;
    padding-right: 5%;
}

.lNews {
    width: 100%;
    font-size: 1vw;
    height: 100%;
    margin-bottom: 2%;
    padding-left: 5%;

}

.lNews>article {
    font-size: 1.3vw;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------- */

/* Footer хэсэг */
footer {
    border-top: var(--default-blue) 1px solid;
    padding: 20px;
}

.fMenu {
    padding: 5%;
    font-size: 1.3vw;
}

footer p {
    text-align: center;
    color: #8C858B;
    font-size: 1.3vw;

}

/*----------------------------------------------------------------*/
/*Responsive*/
@media screen and (max-width: 650px) {
    body {
        width: auto;
        margin: 5%;
    }

    /* Header хэсэг */
    header .header-icons {
        display: none;
    }

    .form-control {
        display: none;
    }

    .menuMobile {
        display: inline;
        padding-left: 3%;
        padding-top: 0px;
    }

    .menuMobile img {
        padding-bottom: 2vw;
        width: 2vw;
        height: auto;
        padding-top: 0px;
    }

    form {
        width: 5%;
    }

    .btn {
        display: none;
    }

    .menu .nav {
        flex-direction: column;
        text-align: right;
        padding-right: 10vw;
    }

    .menu {
        display: none;
        
        /* position: absolute;
        right: -200px; */
    }

    .closeMenu {
        display: none;
        padding-left: 10%;
        font-size: 1.2vw;
    }

    /* News */
    .news1 img,
    .news1 p {
        display: none;
    }

    .news1 h3 {
        width: 80%;
        bottom: 10%;
        left: 8%;
        border-width: 2px;
    }

    .news1 {
        height: 40vw;
        margin-top: 20px;
    }

    /* Suggested */
    .swiper-slide {
        width: 20%;

    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    #liner {
        display: none;
    }

    /* Famous */
    #zendaya {
        display: none;
    }

    .famousPeople {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }


    .fam>img {
        margin-left: 22%;
    }

    /* Latest News */
    .lateNews {
        display: grid;
        grid-template-columns: auto;
        width: 80%;

    }

    .lNews>img {
        width: 35%;
    }

    .lNews {
        width: 80%;
    }

    .lNews {
        margin-top: 5%;
    }

    .fMenu {
        padding-top: 1%;
        padding-left: 10%;
    }

    footer .header-icons {
        margin-top: 0px;
        justify-content: end;
    }
}

@media screen and (min-width: 650px) {
    .menuMobile {
        display: none !important;
    }
    .menu{
        display: block !important;
    }
}
  