@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Rubik:wght@400;500&display=swap');

body {
    background-color: black;
    margin: 30px auto;
    width: 1080px;
    height: 2400px;
    color: #F5F5F7;
    display: block;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Header хэсэг */

header {
    width: 100%;
    height: 10%;
}

#yoloLogo {
    width: 156px;
    height: 56px;
}

.nav-link {
    color: #FFFFFF;
}

.nav-item>a:hover {
    color: #EE4A9B;
}

.header-icons a {
    color: #6FCDDB;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

.header-icons {
    margin-top: 15px;
}

form {
    margin-top: 15px;
    width: 45%;
    height: 30px;
}

.form-control {
    background-color: #D9D9D9;
    opacity: 30%;
    color: white;
}

.menu {
    margin: 30px
}

#selectedMenu {
    color: #EE4A9B !important;
}

.nav {
    justify-content: space-between;
}

.menu li {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.menuMobile {
    display: none;
}

.btn {
    font-size: 20px;
    width: 40px;
    height: 30px;
    padding-top: 0px;
}

.closeMenu {
    display: none;
}


/* ---------------------------------------------------------------- */

/* Гол мэдээний хэсэг */
.news1 {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    animation-name: fade;
    animation-duration: 1.5s;
}

.news1 img {
    width: 35%;
    height: 70%;
    border-radius: 41px;
    margin-left: 100px;
    margin-top: 80px;
    margin-right: 0px;
}

.news1 h3 {
    color: white;
    position: absolute;
    margin-top: 110px;
    width: 45%;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    right: 70px;
    padding-left: 10px;
    border-left: 5px #EE4A9B solid;
}

.news1 p {
    font-size: 20px;
    font-weight: 400;
    color: white;
    position: absolute;
    width: 45%;
    right: 70px;
    top: 220px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: #bbb 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

@keyframes fade {
    0% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

#mainNews1 {
    background-image: url('../images/jis1.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mainNews2 {
    background-image: url('../images/medee1.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mainNews3 {
    background-image: url('../images/medee3.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slideNewsContainer {
    margin: auto;
    height: 35%;
}


/* ---------------------------------------------------------------- */
/* Санал болгох мэдээ  */
#suggested {
    height: 35%;
    margin-top: 20px;
}

#liner {
    width: 85%;
    border-bottom: 2px solid #6FCDDB;
    float: right;
    padding-top: 10px;
}

h5 {
    text-transform: uppercase;
    font-size: 18px;
    float: left
}

.swipeNews {
    height: 35%;
    margin-top: 20px;
    padding: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FFFFFF;
    right: 0px;
}

.swiper-slide {
    width: 20%;
    height: 340px;
    margin: 20px 10px;
}

#sNews1 {
    background-image: url('../images/snews1.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    margin: 20px;
}

.swiper-wrapper {
    display: flex;
    white-space: space-around;
}

.swiper-slide>p {
    background-color: rgba(111, 205, 219, 0.5);
    position: absolute;
    padding: 10px 20px;
    top: 260px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    text-align: left;
}


#sNews2 {
    background-image: url('../images/snews2.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
}


#sNews3 {
    background-image: url('../images/snews3.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
}

#sNews4 {
    background-image: url('../images/snews4.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
}


#sNews5 {
    background-image: url('../images/snews5.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
}

#sNews6 {
    background-image: url('../images/snews6.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
}

/* ----------------------------------------------------------------

Алдартнууд */

.famNews {
    margin-top: 20px;
    height: 10%;
}

.fam {
    padding: 60px;
}

.fam>img {
    width: 100%;
    height: 60%;
}

.famousPeople {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: center;
}

#famTxt {
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.fam>p {
    font-size: 13px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------------------- */

/* Сүүлд нэмэгдсэн */
.latestNews {
    height: 20%;
}

.lateNews {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 30px;
}

.latestNews>#liner {
    width: 80%;
}

.lNews>img {
    width: 55%;
    height: 80%;
    float: left;
    padding-right: 20px;
}

.lNews {
    width: 100%;
    font-size: 12px;
    height: 100%;
    margin-bottom: 30px;
    padding-left: 30px;

}

.lNews>article {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------- */

/* Footer хэсэг */
footer {
    border-top: #6FCDDB 1px solid;
    padding: 20px;
}

.fMenu {
    padding: 50px
}

footer p {
    text-align: center;
    color: #8C858B;
}

@media screen and (max-width: 610px) {
    body {
        width: auto;
        margin: 20px;
    }

    /* Header хэсэг */
    header .header-icons {
        display: none;
    }

    .form-control {
        display: none;
    }

    .menuMobile {
        display: block;
        width: 25px;
        height: 25px;
        padding-left: 20px;
    }

    #yoloLogo {
        width: 100px;
        height: 45px;
        padding-top: 6px;
    }

    form {
        width: 15%;
    }

    .menu .nav {
        flex-direction: column;
        text-align: right;
    }

    .menu {
        display: none;
    }

    .closeMenu {
        display: none;
        font-size: 25px;
        padding-left: 20px;
    }

    /* News */
    .news1 img,
    .news1 p {
        display: none;
    }

    .news1 h3 {
        font-size: 15px;
        width: 80%;
        bottom: 20px;
        border-width: 4px;
    }

    .news1 {
        height: 300px;
        margin-top: 20px;
    }

    .dot {
        height: 7px;
        width: 7px;
    }

    /* Suggested */
    .swiper-slide {
        height: 280px;
        width: 35%;

    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-slide>p {
        top: 220px;
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        font-size: 13px;
    }

    #liner {
        display: none;
    }

    h5 {
        font-size: 12px;
    }
    /* Famous */
    #zendaya {
        display: none;
    }

    .famousPeople {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        justify-content: center;
    }

    .fam>p {
        font-size: 10px;
        display: flex;
        /* justify-content: space-between; */
    }

    .fam {
        padding: 30px;
    }

    #famTxt {
        font-size: 13px;
    }

/* Latest News */
    .lateNews {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        padding: 30px;
    }

/* Footer */
    .fMenu>ul {
        columns: 2;
    }

    .fMenu {
        padding: 30px;
    }

    footer .header-icons a {
        font-size: 18px;
    }
    .fMenu .nav-link {
        font-size: 13px;
        padding: 10px 40px;
    }
}



@media screen and (max-width: 480px) {
    body {
        width: auto;
        margin: 20px;
    }

    h5 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    /* Header хэсэг */
    header .header-icons {
        display: none;
    }

    .nav-link {
        font-size: 16px;
    }

    .form-control {
        display: none;
    }

    .menuMobile {
        display: block;
        width: 25px;
        height: 25px;
        padding-left: 20px;
    }

    #yoloLogo {
        width: 100px;
        height: 45px;
        padding-top: 6px;
    }

    form {
        width: 20%;
    }

    .menu .nav {
        flex-direction: column;
        text-align: right;
    }

    .menu {
        display: none;
    }

    .closeMenu {
        display: none;
        font-size: 25px;
        padding-left: 20px;
    }

    /* News */
    .news1 img,
    .news1 p {
        display: none;
    }

    .news1 h3 {
        font-size: 8px;
        width: 80%;
        bottom: 20px;
        left: 20px;
        border-width: 2px;
    }

    .news1 {
        height: 200px;
        margin-top: 20px;
    }

    .dot {
        height: 5px;
        width: 5px;
    }

    /* Suggested */
    .swiper-slide {
        height: 210px;
        width: 40%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-slide>p {
        top: 170px;
        width: 100%;
        height: 40px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-size: 9px;
        padding: 5px 20px;
    }

/* Famous */
    .fam>p {
        font-size: 8px;
        display: flex;
    }

    .fam>img {
        width: 100%;
        height: 50%;
    }

    .fam {
        padding: 20px;
    }

    #famTxt {
        font-size: 10px;
    }

/* Latest News */
    .lateNews>p {
        font-size: 8px;
    }

    .lNews article {
        font-size: 12px;
    }

    .lNews p {
        font-size: 8px;
    }

    /* Footer */
    .fMenu {
        padding: 30px;
        font-size: 10px;
    }

    footer .header-icons a {
        padding-left: 10px;
    }

    .fMenu .nav-link {
        font-size: 10px;
    }
}